* {
    margin: 0px;
    padding: 0px;
    font-family: 'Crushed';
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

#header {
    background: black;
    /*background: url("img/manual.jpg");*/
    /*background-position: left;*/
}

h1 {
    margin-bottom: 20px;
}

.title_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title_text {
    font-size: 14vw;
    color: white;
    text-shadow: 2px 2px black;
}

.menu_icon {
    width: 12vw;
    margin-top: 25px;
    padding-left: 2vw;
}

.menu_icon img {
    width: 12vw;
}

.tagline {
    display: flex;
    justify-content: center;
    font-size: 4vw;

}

/*Parallax*/

.image {
    height: 350px;
    width: 100%;
    background: black;
    z-index: 1;
}

.content {
    width: 100%;
    background: white;
    z-index: 2;
    border: 2px solid black;
}

.content h1 {
    font-size: 6vw;
    color: #464646;
    margin-left: 1vw;
}

.content p {
    font-size: 3vw;
    color: #343434;
    margin-left: 1vw;
    padding-bottom: 20px;
}

#content_2 img {
    width: 16vw;
    height: 18vh;
    padding-bottom: 10px;
}

.skill_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 40px;
}

.project_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
    margin-left: 1vw;
    margin-right: 1vw;
}

#content_3 img {
    width: 25vw;
    height: 20vh;
}

#wall_1 {
    background: url("img/tree_full.jpg");   // need these to fit and not repeat...?
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#wall_2 {
    background: url("img/tree_full.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#wall_3 {
    background: url("img/tree_full.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.about_pics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pic1 {
    background: url("img/driving.JPG") no-repeat center;
    width: 400px;
    height: 325px;
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    margin-bottom: 20px;
}

.pic2 {
    background: url("img/thumb.JPG") no-repeat;
    background-size: cover;
}

.pic3 {
    background: url("img/hiking.jpeg")no-repeat;
    background-size: cover;
}

/*Footer contact container*/

.footer {
    display: flex;
    justify-content: space-around;
    background: black;
}

.contact img {
    width: 10vw;
    margin-top: 10px;
    margin-bottom: 10px;
}
