* {
    margin: 0px;
    padding: 0px;
    font-family: 'Crushed';
}

html, body {
    width: 100%;
}

#header {
    background: url("img/tree_header.jpg");
}

#title {
    font-size: 14vw;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}

#menu {

}

#menu img {
    width: 12vw;
    margin-top: 7vh;
}

.tagline {
    display: flex;
    justify-content: space-around;
    font-size: 6vw;

}

/*Parallax*/

.image {
    height: 1200px;
    width: 100%;
    background: black;
    z-index: 1;
}

.content {
    width: 100%;
    background: white;
    z-index: 2;
    border: 2px solid black;
}

.content h1 {
    font-size: 6vw;
    color: #464646;
    margin-left: 1vw;
}

.content p {
    font-size: 3vw;
    color: #343434;
    margin-left: 1vw;
}

#content_2 img {
    width: 16vw;
    height: 18vh;
    padding-bottom: 10px;
}

#content_3 img {
    width: 25vw;
    height: 20vh;
}

#wall_1 {
    background: url("img/tree_full.jpg") no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}

#wall_2 {
    background: url("img/tree_full.jpg") no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}

#wall_3 {
    background: url("img/tree_full.jpg") no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}

#content_1 {

}

#content_2 {

}

#content_3 {

}

/*Footer contact container*/

.footer {
    display: flex;
    justify-content: space-around;
    background: black;
}

.contact img {
    width: 10vw;
    margin-top: 10px;
    margin-bottom: 10px;
}
