* {
    margin: 0px;
    padding: 0px;
    font-family: 'Crushed';
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

.title_container {
    text-align: center;
    background: black;
    color: white;
    padding-bottom: 10px;
    width: 100%;
}

.title_text {
    font-size: 14vw;
}

.tagline {
    text-align: center;
    font-size: 4vw;
}

#about {
    margin-top: 20px;
}

.content {
    width: 100%;
    background: white;
    z-index: 2;
}

.content h1 {
    font-size: 6vw;
    color: #464646;
    margin-left: 1vw;
    margin-bottom: 20px;
}

.content p {
    font-size: 3vw;
    color: #343434;
    margin-left: 1vw;
    padding-bottom: 20px;
    font-family: "Karla";
}

.pic1 {
    background: url("img/driving.JPG") no-repeat center;
    width: 30vw;
    height: 28vh;
    background-size: cover;
    background-position: center;
    border-radius: 2%;
    border: 1px solid black;
    margin-bottom: 20px;
}

.skill_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
}

.project_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-left: 1vw;
    margin-right: 1vw;
}

#content_3 img {
    width: 25vw;
    height: 20vh;
}

.footer {
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.footer i {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer i:hover {
    color: rgb(112, 64, 152);
}
.contact a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/*===========================================================================*/
/* Media queries */
/* set for iPhone 5 */
@media (min-width: 320px) {
    h1 {
        text-align: center;
    }
    .tagline {
        font-size: 5vw;
    }
    .title_text {
        font-size: 16vw;
    }
    .content h1 {
        font-size: 9vw;
    }
    .pic1 {
        height: 30vh;
        width: 100%;
    }
    .content p {
        font-size: 5vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    #content_2 img {
        width: 14vw;
        height: 10vh;
    }
    .project_icons {
        display: block;
        flex-direction: none;
        justify-content: none;
    }
    #content_3 img {
        width: 100%;
        height: 25vh;
    }
    .footer {
        background: black;
    }
}

/*==========================================================================*/
/* iPad */
@media (min-width: 768px) {
    .title_container {
        font-size: 10vw;
        background: url("img/driving.JPG");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 250px;
        width: 100%;
        text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
                 #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
    }
    .title_text {
        font-size: 10vw;
        padding-top: 7vh;
    }
    .tagline {
        font-size: 3vw;
    }
    /*.pic1 {
        height: 26vh;
    }*/
    .pic1 {
        display: none;
    }
    #content_2 img {
        width: 10vw;
        height: 7vh;
    }
    #content_3 img {
        height: 12vh;
        width: 27vw;
    }
    .content h1 {
        font-size: 6vw;
    }
    .content p {
        font-size: 3vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .skill_icons {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .project_icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .project_icons img {
        border: 1px solid black;
    }
    .contact i {
        font-size: 6vw;
    }
}

/*============================================================================*/
@media (min-width: 1100px) {
    .title_text {
        font-size: 9vw;
    }
    .menu_icon {
        margin-top: 21px;
    }
    .menu_cover {
        margin-top: 21px;
    }
    .tagline {
        font-size: 3vw;
    }
    .content h1 {
        font-size: 5vw;
    }
    .content p {
        font-size: 2vw;
        padding-bottom: 5vh;
    }
    .pic1 {
        height: 20vh;
    }
    #content_2 img {
        width: 8vw;
    }

    #content_3 img {
        width: 25vw;
        height: 20vh;
    }
}

/*=========================================================================*/
@media (min-width: 1300px) {
    .title_text {
        font-size: 7vw;
    }
    .tagline {
        font-size: 2vw;
    }
    #content_2 img {
        width: 80px;
    }
    #content_3 img {
        width: 300px;
        height: 175px;
    }
    .contact i {
        font-size: 5vw;
    }
}

/*==========================================================================*/
@media (min-width: 1400px) {
    .pic1 {
        height: 25vh;
    }
    .content h1 {
        font-size: 4vw;
    }
    .content p {
        font-size: 2vw;
    }
    .project_icons {
        margin-left: 8vw;
        margin-right: 8vw;
    }
}

/*==========================================================================*/
@media (min-width: 1500px) {
    .title_text {
        font-size: 6vw;
    }
    .content h1 {
        font-size: 3vw;
    }
    .content p {
        font-size: 1.5vw;
    }
    .contact i {
        font-size: 4vw;
    }
}

/*=========================================================================*/
@media (min-width: 1600px) {
    .title_text {
        padding-top: 5vh;
    }
    .content h1 {
        font-size: 2.5vw;
    }
    .content p {
        margin-left: 20vw;
        margin-right: 20vw;
    }
    .skill_icons {
        margin-left: 15vw;
        margin-right: 15vw;
    }
    .project_icons {
        margin-left: 15vw;
        margin-right: 15vw;
    }
}

/*===========================================================================*/
@media (min-width: 1800px) {
    .content p {
        margin-left: 25vw;
        margin-right: 25vw;
    }
    .skill_icons {
        margin-left: 22vw;
        margin-right: 22vw;
    }
    .project_icons {
        margin-left: 20vw;
        margin-right: 20vw;
    }
    .contact i {
        font-size: 3vw;
    }
}
/*===========================================================================*/
